<nav>
    <h1>
        Putni nalog
    </h1>
    <ul>
        <li>
            <a href="/vozaci">Vozaci</a>
            <a href="/izvjestaji">Generiraj izvjestaj</a>
            </li>
    </ul>
</nav>